
body, h1, form, input, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}


body {
    background: linear-gradient(to right, #30484B, #F1EBE6);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.login-container {
    background: white;
    padding: 2rem;
    border-radius: 25px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}


.login-container h1 {
    margin-bottom: 1.5rem;
    color: #333;
}


.input-group {
    margin-bottom: 1.5rem;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: #555;
}

.input-group input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 12px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s;
}

.input-group input:focus {
    border-color: #F1EBE6;
}
button {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 12px;
    background: #30484B;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #F1EBE6;
}